.popup
{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black,.8);
    z-index: 2500;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    @supports (-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem)) 
    {
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);
        background-color: rgba($color-black,.3);
    }
    &__content
    {
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black,.2);
        @include centerTheDiv;
        border-radius: 3px;
        display: table;
        overflow: hidden;
        transform: translate(-50%,-50%) scale(.5);
        transition: all .4s .2s ease-out;
        @include respond(tab-port)
        {
            display: block;
        }
        @media only screen and (max-width:$sevenHundred)
        {
            width:90% !important;
        }
    }

    &__left
    {
        width: 33.33333%;
        display: table-cell;

        @include respond(tab-port)
        {
            width: 100%;
            display: block;
        }
    }
    &__right
    {
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
        @include respond(tab-port)
        {
            width: 100%;
            display: block;
        }
        @media only screen and (max-width:$sevenHundred)
        {
            padding: 3rem 1rem;
        }
    }
    &__img
    {
        display: block;
        width: 100%;
        height: 35rem;

        @include respond(tab-port)
        {
            display: inline-block;
            width: 50%;
            float: left;
        }

        @include respond(phone)
        {
            height: 30rem;
        }
    }
    &__text
    {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        text-align: justify;
        column-count: 2;
        column-gap: 4rem;//FIXME: by default it is 1em
        column-rule: 1px solid $color-grey-light-2;
        hyphens: auto;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;//FIXME: by default it is 1em
        -moz-column-rule: 1px solid $color-grey-light-2;
        
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;

        @media only screen and (max-width:$sevenHundred)
        {
            column-count: 0;
            column-gap: 0;
            column-rule: 0;
            line-height: 1;
        }
    }

    &:target
    {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content
    {
        transform: translate(-50%,-50%) scale(1);
    }
    
    &__close
    {
        &:link,
        &:visited
        {
            text-decoration: none;
            color: $color-grey-dark;
            position: absolute;
            top: 4.5rem;
            right: 2.5rem;  
            font-size: 3rem;
            font-weight: 600;
            display: inline-block;
            transition: all .3s;
            line-height: 1;

            @media only screen and (max-width:$sevenHundred)
            {
                top: 2.5rem;
            }
        }
        &:hover
        {
            color: $color-primary;
            transform: translateY(-.7rem);
        }
        &:active
        {
            transform: translateY(.7rem);
        }
    }
}